snippet puf "public function"
public function ${1}(${2})
{
    ${3}
}
endsnippet

snippet prf "private function"
private function ${1}(${2})
{
    ${3}
}
endsnippet

snippet pof "protected function"
protected function ${1}(${2})
{
    ${3}
}
endsnippet

snippet __c "constructor"
public function __construct(${2})
{
    ${3}
}
endsnippet
